<h1><b>Cleaning Dataset</b></h1>

In [1]:
#impoprt libraries
import numpy as np
import pandas as pd

#import dataset
kijiji_df = pd.read_csv("data_rav4_kijiji.csv")

In [2]:
#view the first lines
kijiji_df.head()

,title,price,condition,year,trim,colour,transmission,drivetrain,fuel,kilometers,postal_code,date_posted,url
0,2018 Toyota RAV4 LE,31959.0,Used,2018.0,LE,Red,Automatic,All-wheel drive (AWD),Gasoline,"61,686",K2G 1E3,2022-06-16,https://www.kijiji.ca/v-cars-trucks/ottawa/201...
1,2019 Toyota RAV4 LE,29600.0,Used,2019.0,LE,White,Automatic,All-wheel drive (AWD),Gasoline,"119,518",N2L 5Z6,2022-05-06,https://www.kijiji.ca/v-cars-trucks/kitchener-...
2,2018 Toyota RAV4 AWD Hybrid Limited - Navigation,37800.0,Used,2018.0,AWD Hybrid Limited,Grey,Automatic,All-wheel drive (AWD),Hybrid-Electric,"87,938",K1C 7J2,2022-07-15,https://www.kijiji.ca/v-cars-trucks/ottawa/201...
3,2017 Toyota RAV4 AWD 4dr SE,31988.0,Used,2017.0,AWD 4dr SE,Blue,Automatic,All-wheel drive (AWD),Other,"61,702",N6P 1L1,2022-06-24,https://www.kijiji.ca/v-cars-trucks/london/201...
4,2019 Toyota RAV4 XLE,34995.0,Used,2019.0,XLE,Black,Automatic,Other,Gasoline,"164,773",L7A 1A9,2022-06-05,https://www.kijiji.ca/v-cars-trucks/mississaug...

In [3]:
#viewing the dataset's info
kijiji_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1046 entries, 0 to 1045
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         770 non-null    object
 1   price         740 non-null    float64
 2   condition     763 non-null    object
 3   year          763 non-null    float64
 4   trim          703 non-null    object
 5   colour        737 non-null    object
 6   transmission  719 non-null    object
 7   drivetrain    723 non-null    object
 8   fuel          722 non-null    object
 9   kilometers    761 non-null    object
 10  postal_code   763 non-null    object
 11  date_posted   763 non-null    object
 12  url           1046 non-null   object
dtypes: float64(2), object(11)
memory usage: 106.4+ KB

In [4]:
#describe
kijiji_df.describe(include='all')

,title,price,condition,year,trim,colour,transmission,drivetrain,fuel,kilometers,postal_code,date_posted,url
count,770,740.000000,763,763.000000,703,737,719,723,722,761,763,763,1046
unique,538,NaN,3,NaN,235,15,3,4,3,624,337,151,928
top,2018 Toyota RAV4 LE,NaN,Used,NaN,LE,White,Automatic,All-wheel drive (AWD),Gasoline,"60,072",Canada,2022-07-08,https://www.kijiji.ca/v-cars-trucks/ottawa/201...
freq,23,NaN,758,NaN,156,158,716,489,452,5,24,32,6
mean,NaN,30223.841892,NaN,2016.882045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,12076.904856,NaN,3.862360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.000000,NaN,1997.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,23499.000000,NaN,2016.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,30694.000000,NaN,2018.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,36995.000000,NaN,2019.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,74995.000000,NaN,2022.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#cheking for duplicates
kijiji_df[kijiji_df.duplicated()]

,title,price,condition,year,trim,colour,transmission,drivetrain,fuel,kilometers,postal_code,date_posted,url
40,2019 Toyota RAV4 LE,29600.0,Used,2019.0,LE,White,Automatic,All-wheel drive (AWD),Gasoline,"119,518",N2L 5Z6,2022-05-06,https://www.kijiji.ca/v-cars-trucks/kitchener-...
89,2019 Toyota RAV4 LE | AWD | LOW KM | BACKUP CA...,33999.0,Used,2019.0,LE | AWD | LOW KM | BACKUP CAM | BLUETOOTH,Black,Automatic,All-wheel drive (AWD),Gasoline,"60,072",N3H 0A1,2022-01-18,https://www.kijiji.ca/v-cars-trucks/cambridge/...
91,2018 Toyota RAV4 XLE,31959.0,Used,2018.0,XLE,Blue,Automatic,Front-wheel drive (FWD),Gasoline,"51,637",K2G 1E3,2022-06-16,https://www.kijiji.ca/v-cars-trucks/ottawa/201...
92,2018 Toyota RAV4 LE,31959.0,Used,2018.0,LE,Red,Automatic,All-wheel drive (AWD),Gasoline,"61,686",K2G 1E3,2022-06-16,https://www.kijiji.ca/v-cars-trucks/ottawa/201...
97,2019 Toyota RAV4 LE | AWD | LOW KM | BACKUP CA...,33999.0,Used,2019.0,LE | AWD | LOW KM | BACKUP CAM | BLUETOOTH,Black,Automatic,All-wheel drive (AWD),Gasoline,"60,072",N3H 0A1,2022-01-18,https://www.kijiji.ca/v-cars-trucks/cambridge/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,2020 Toyota RAV4 XLE,35999.0,Used,2020.0,XLE,Black,Automatic,Front-wheel drive (FWD),Gasoline,"47,609",K1V 7Z6,2022-04-28,https://www.kijiji.ca/v-cars-trucks/ottawa/202...
1013,2019 Toyota RAV4 LE,29600.0,Used,2019.0,LE,White,Automatic,All-wheel drive (AWD),Gasoline,"119,518",N2L 5Z6,2022-05-06,https://www.kijiji.ca/v-cars-trucks/kitchener-...
1014,2021 Toyota RAV4 Limited,49222.0,Used,2021.0,Limited,White,Automatic,All-wheel drive (AWD),Other,"6,175",L1V 1C6,2022-07-10,https://www.kijiji.ca/v-cars-trucks/oshawa-dur...
1015,"2015 Toyota RAV4 LE,AWD",17999.0,Used,2015.0,"LE,AWD",Grey,Automatic,All-wheel drive (AWD),Gasoline,"171,300",L5S 1P9,2022-06-01,https://www.kijiji.ca/v-cars-trucks/mississaug...
1016,2021 Toyota RAV4 Hybrid LE,52959.0,Used,2021.0,LE,White,Automatic,All-wheel drive (AWD),Hybrid-Electric,"23,254",K2G 1E3,2022-07-03,https://www.kijiji.ca/v-cars-trucks/ottawa/202...

In [6]:
#84 rows duplicates, let's keep only the first
kijiji_df = kijiji_df.drop_duplicates(keep='first')

In [7]:
kijiji_df.shape

(962, 13)

In [8]:
#cheking 'transmission'
kijiji_df['transmission'].value_counts()

Automatic    642
Other          2
Manual         1
Name: transmission, dtype: int64

In [9]:
#after analysis, I decided to drop 2 columns: 'transmission' and 'trim'
#'transmission': because only one ad is "manual", so it does not impact the data
#'trim': because there is not a pattern, eache seller can write anything
kijiji_df = kijiji_df.drop(columns=['transmission', 'trim'])

In [10]:
#cheking in the 'title' ads that is not selling, but looking for a car
kijiji_df[kijiji_df['title'].str.contains("wanted", case=False)==True]

,title,price,condition,year,colour,drivetrain,fuel,kilometers,postal_code,date_posted,url
41,Wanted: Toyota RAV4 (2006 - 2013) Wanted,4000.0,Used,2007.0,NaN,NaN,NaN,"450,000",L7B1G9,2022-07-26,https://www.kijiji.ca/v-cars-trucks/markham-yo...
321,Wanted: Wanted: Toyota RAV4 Between the Years ...,2000.0,Used,2004.0,NaN,NaN,NaN,"600,000",L9T2Y5,2022-07-23,https://www.kijiji.ca/v-cars-trucks/oakville-h...
586,Wanted: LOOKING TO BUY A TOYOTA - ANY TOYOTA -...,NaN,Used,2010.0,NaN,NaN,NaN,"100,000","awa, ON",2022-07-20,https://www.kijiji.ca/v-cars-trucks/ottawa/loo...
666,Wanted: Wanted looking for rav 4,8000.0,Used,2000.0,NaN,NaN,NaN,"100,000",Canada,2022-07-20,https://www.kijiji.ca/v-cars-trucks/stratford-...
672,Wanted: Wanted- Toyota Rav 4 2013 and later,15000.0,Used,2014.0,NaN,NaN,NaN,"100,000","uga, ON",2022-07-19,https://www.kijiji.ca/v-cars-trucks/mississaug...
754,Wanted: Rav4 V6 or similar small SUV,NaN,Used,2009.0,NaN,NaN,NaN,"100,000",P6C 1L2,2022-07-15,https://www.kijiji.ca/v-cars-trucks/sault-ste-...
815,Wanted: Looking for 2020 Toyota Rav XLE or tra...,250.0,Lease Takeover,2020.0,NaN,All-wheel drive (AWD),NaN,"40,000",Canada,2022-07-12,https://www.kijiji.ca/v-cars-trucks/ottawa/loo...
1026,Wanted: Wanted : Looking for 1996-2000 Toyota ...,4100.0,Used,1998.0,NaN,4 x 4,NaN,"300,000",M2J 3H7,2022-06-18,https://www.kijiji.ca/v-cars-trucks/city-of-to...
1028,Wanted: Car SUV wanted,NaN,Used,2019.0,NaN,Front-wheel drive (FWD),NaN,"35,000",ON K4A,2022-06-13,https://www.kijiji.ca/v-cars-trucks/ottawa/car...
1034,Wanted: $$$ Looking to Buy Toyota Rav4 Car 200...,5000.0,Used,2012.0,NaN,NaN,NaN,"150,000",M8Y2P9,2022-06-05,https://www.kijiji.ca/v-cars-trucks/city-of-to...

In [11]:
#remove these ads
kijiji_df = kijiji_df[kijiji_df['title'].str.contains("wanted", case=False)==False]

In [16]:
#cheking in the 'title' ads that is not mention 'RAV4'
kijiji_df[kijiji_df['title'].str.contains("rav4|rav 4|rav\-4|Race 4|Rave 4|Rev4|rv 4", case=False)==False]

,title,price,condition,year,colour,drivetrain,fuel,kilometers,postal_code,date_posted,url
682,Select Location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.kijiji.ca/v-cars-trucks/city-of-to...
703,Select Location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.kijiji.ca/v-cars-trucks/oakville-h...
733,Select Location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.kijiji.ca/v-cars-trucks/belleville...
793,Select Location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.kijiji.ca/v-cars-trucks/city-of-to...
799,Select Location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.kijiji.ca/v-cars-trucks/st-cathari...
857,Car for sale,25500.0,Used,2015.0,Black,NaN,NaN,"47,000","oke, ON",2022-07-09,https://www.kijiji.ca/v-cars-trucks/mississaug...
874,Select Location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.kijiji.ca/v-cars-trucks/city-of-to...
918,Select Location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.kijiji.ca/v-cars-trucks/windsor-ar...
1022,Toyota,35000.0,Used,2019.0,Black,NaN,Gasoline,"68,456",Canada,2022-06-21,https://www.kijiji.ca/v-cars-trucks/city-of-to...
1027,Vehicles all makes and models.,52995.0,Used,2021.0,White,All-wheel drive (AWD),Hybrid-Electric,"11,000",J9J 1P3,2022-06-14,https://www.kijiji.ca/v-cars-trucks/gatineau/v...
1038,CONTACT ME TODAY TO BOOK YOUR 2022 TOYOTA! 647...,NaN,Lease Takeover,2022.0,White,All-wheel drive (AWD),Gasoline,100,L7E 1S7,2022-06-03,https://www.kijiji.ca/v-cars-trucks/mississaug...

In [17]:
#removing these rows
kijiji_df = kijiji_df[kijiji_df['title'].str.contains("rav4|rav 4|rav\-4|Race 4|Rave 4|Rev4|rv 4", case=False)==True]

In [18]:
#cheking missing values
kijiji_df.isna().sum()

title           0
price          19
condition       0
year            0
colour         15
drivetrain     30
fuel           29
kilometers      2
postal_code     0
date_posted     0
url             0
dtype: int64

In [19]:
#ads without price does not work for us
kijiji_df = kijiji_df.dropna(subset=['price'])

In [20]:
#cheking missing values
kijiji_df.isna().sum()

title           0
price           0
condition       0
year            0
colour         12
drivetrain     29
fuel           27
kilometers      2
postal_code     0
date_posted     0
url             0
dtype: int64

In [21]:
#cheking null values in kilometers
kijiji_df[kijiji_df['kilometers'].isna()]

,title,price,condition,year,colour,drivetrain,fuel,kilometers,postal_code,date_posted,url
728,2021 Toyota RAV4 AWD XLE PREMIUM,38722.0,New,2021.0,Grey,Other,Gasoline,NaN,L7A 1A9,2021-11-18,https://www.kijiji.ca/v-cars-trucks/mississaug...
729,2021 Toyota RAV4 XLE Premium,39082.0,New,2021.0,Silver,Other,Gasoline,NaN,L7A 1A9,2021-11-18,https://www.kijiji.ca/v-cars-trucks/mississaug...

In [22]:
#Because these cars are new, so kilometers = 0
#lets cheking another new cars
kijiji_df[kijiji_df['condition']=='New']

,title,price,condition,year,colour,drivetrain,fuel,kilometers,postal_code,date_posted,url
728,2021 Toyota RAV4 AWD XLE PREMIUM,38722.0,New,2021.0,Grey,Other,Gasoline,NaN,L7A 1A9,2021-11-18,https://www.kijiji.ca/v-cars-trucks/mississaug...
729,2021 Toyota RAV4 XLE Premium,39082.0,New,2021.0,Silver,Other,Gasoline,NaN,L7A 1A9,2021-11-18,https://www.kijiji.ca/v-cars-trucks/mississaug...

In [23]:
#only two cars with condition new.
#in this case, let drop this two ads and drop the column 'condition', because our focus is in used car
kijiji_df = kijiji_df.dropna(subset=['kilometers'])

In [24]:
kijiji_df['condition'].value_counts()

Used              652
Lease Takeover      1
Name: condition, dtype: int64

In [25]:
kijiji_df = kijiji_df.drop(columns=['condition'])

In [26]:
#cheking missing values
kijiji_df.isna().sum()

title           0
price           0
year            0
colour         12
drivetrain     29
fuel           27
kilometers      0
postal_code     0
date_posted     0
url             0
dtype: int64

In [27]:
#cheking values in colour
kijiji_df['colour'].value_counts()

White       136
Grey        119
Black       104
Silver       91
Red          84
Blue         45
Other        35
Green         9
Purple        5
Orange        4
Burgundy      3
Brown         3
Gold          1
Beige         1
Tan           1
Name: colour, dtype: int64

In [28]:
kijiji_df[kijiji_df['colour'].isna()]

,title,price,year,colour,drivetrain,fuel,kilometers,postal_code,date_posted,url
203,Toyota RAV4 2008 model Car for sale in good co...,7500.0,2008.0,NaN,NaN,NaN,"241,344",L7C4G5,2022-07-25,https://www.kijiji.ca/v-cars-trucks/mississaug...
210,TOYOTA RAV4,12000.0,2009.0,NaN,NaN,NaN,"169,000",M9B 4V5,2022-07-24,https://www.kijiji.ca/v-cars-trucks/city-of-to...
290,2012 Toyota Rav4 Limited,13500.0,2012.0,NaN,NaN,NaN,"211,000",L6K 2C7,2022-07-24,https://www.kijiji.ca/v-cars-trucks/oakville-h...
511,2020 rav4 hybrid xle low km,47500.0,2020.0,NaN,NaN,NaN,"37,000",K2M0A3,2022-07-21,https://www.kijiji.ca/v-cars-trucks/ottawa/202...
512,2018 Toyota Rav4 XLE Hybrid 29030km,37400.0,2018.0,NaN,All-wheel drive (AWD),Hybrid-Electric,"29,030",M5A 4G4,2022-07-21,https://www.kijiji.ca/v-cars-trucks/city-of-to...
689,Toyota rav 4,6000.0,2006.0,NaN,NaN,NaN,"26,000",Canada,2022-07-19,https://www.kijiji.ca/v-cars-trucks/mississaug...
727,"2016 Toyota RAV4 SE LIMITED nav, moonroof, Lea...",24999.0,2016.0,NaN,NaN,Gasoline,"90,000",ON L6Y,2022-07-17,https://www.kijiji.ca/v-cars-trucks/mississaug...
888,2009 Rav 4 awd limited,9800.0,2009.0,NaN,NaN,NaN,"210,000",L6W3W6,2022-07-08,https://www.kijiji.ca/v-cars-trucks/mississaug...
907,2018 Toyota Rev4,26000.0,2018.0,NaN,Front-wheel drive (FWD),Gasoline,"76,000",Canada,2022-07-07,https://www.kijiji.ca/v-cars-trucks/mississaug...
922,RAV4 2021,37999.0,2021.0,NaN,NaN,NaN,"27,300",K1V0G7,2022-07-06,https://www.kijiji.ca/v-cars-trucks/ottawa/rav...
1011,Toyota RAV4 2015,19500.0,2015.0,NaN,NaN,NaN,"170,000",K2A1C4,2022-06-24,https://www.kijiji.ca/v-cars-trucks/ottawa/toy...
1024,Toyota RAV4,8000.0,2012.0,NaN,Other,NaN,"104,697",K4A 4H9,2022-06-19,https://www.kijiji.ca/v-cars-trucks/ottawa/toy...

In [29]:
#The best choice is use 'other'
kijiji_df.loc[kijiji_df['colour'].isna(), 'colour'] = "Other"

In [30]:
#cheking missing values in Fuel
kijiji_df[kijiji_df['fuel'].isna()]

,title,price,year,colour,drivetrain,fuel,kilometers,postal_code,date_posted,url
43,Toyota Rav4,26000.0,2018.0,White,All-wheel drive (AWD),NaN,"120,000",M5V1J9,2022-07-26,https://www.kijiji.ca/v-cars-trucks/city-of-to...
99,Toyata RAV 4 2006 model,6500.0,2006.0,Blue,NaN,NaN,272,Canada,2022-07-26,https://www.kijiji.ca/v-cars-trucks/city-of-to...
118,TOYOTA RAV 4,4500.0,2007.0,Silver,4 x 4,NaN,267,Canada,2022-07-26,https://www.kijiji.ca/v-cars-trucks/oshawa-dur...
125,Toyota Rav 4 2015,22000.0,2015.0,White,All-wheel drive (AWD),NaN,"145,000",ON L6E,2022-07-25,https://www.kijiji.ca/v-cars-trucks/markham-yo...
149,"2019 RAV 4 XLE - private sale - 44,000 kms",36900.0,2019.0,Burgundy,NaN,NaN,"44,000",L0R1Y0,2022-07-25,https://www.kijiji.ca/v-cars-trucks/st-cathari...
174,2017 Toyota RAV4,26500.0,2017.0,Grey,Front-wheel drive (FWD),NaN,"70,500",P0M1A0,2022-07-25,https://www.kijiji.ca/v-cars-trucks/sudbury/20...
203,Toyota RAV4 2008 model Car for sale in good co...,7500.0,2008.0,Other,NaN,NaN,"241,344",L7C4G5,2022-07-25,https://www.kijiji.ca/v-cars-trucks/mississaug...
210,TOYOTA RAV4,12000.0,2009.0,Other,NaN,NaN,"169,000",M9B 4V5,2022-07-24,https://www.kijiji.ca/v-cars-trucks/city-of-to...
218,2001 RAV4 AWD Limited,4900.0,2001.0,Silver,NaN,NaN,"319,473",L9T6W6,2022-07-24,https://www.kijiji.ca/v-cars-trucks/oakville-h...
290,2012 Toyota Rav4 Limited,13500.0,2012.0,Other,NaN,NaN,"211,000",L6K 2C7,2022-07-24,https://www.kijiji.ca/v-cars-trucks/oakville-h...
511,2020 rav4 hybrid xle low km,47500.0,2020.0,Other,NaN,NaN,"37,000",K2M0A3,2022-07-21,https://www.kijiji.ca/v-cars-trucks/ottawa/202...
653,Toyota RAV4,9995.0,1997.0,Brown,Front-wheel drive (FWD),NaN,"252,000",Canada,2022-07-20,https://www.kijiji.ca/v-cars-trucks/city-of-to...
689,Toyota rav 4,6000.0,2006.0,Other,NaN,NaN,"26,000",Canada,2022-07-19,https://www.kijiji.ca/v-cars-trucks/mississaug...
692,2010 Toyota RAV4,8000.0,2010.0,Black,4 x 4,NaN,"234,902",L4M2P4,2022-07-18,https://www.kijiji.ca/v-cars-trucks/barrie/201...
822,Rave 4 Adventure all wheel drive,40000.0,2019.0,Grey,All-wheel drive (AWD),NaN,"33,000",N2J1L8,2022-07-11,https://www.kijiji.ca/v-cars-trucks/kitchener-...
858,2011 Toyota RAV4 Sport 4x4,20000.0,2011.0,Silver,4 x 4,NaN,"102,000",L4C4J2,2022-07-09,https://www.kijiji.ca/v-cars-trucks/markham-yo...
888,2009 Rav 4 awd limited,9800.0,2009.0,Other,NaN,NaN,"210,000",L6W3W6,2022-07-08,https://www.kijiji.ca/v-cars-trucks/mississaug...
904,2013 Rav4 LE. AWD,17500.0,2013.0,Red,All-wheel drive (AWD),NaN,"138,000",N9G 0A5,2022-07-07,https://www.kijiji.ca/v-cars-trucks/windsor-ar...
909,2012 RAV4 4x4 1 Owner,12000.0,2012.0,Tan,4 x 4,NaN,"205,000",P2B3M8,2022-07-07,https://www.kijiji.ca/v-cars-trucks/north-bay/...
922,RAV4 2021,37999.0,2021.0,Other,NaN,NaN,"27,300",K1V0G7,2022-07-06,https://www.kijiji.ca/v-cars-trucks/ottawa/rav...
1010,2007 Toyota RAV4 4cyl with safety,6000.0,2007.0,Red,All-wheel drive (AWD),NaN,"250,000",N8A2W8,2022-06-25,https://www.kijiji.ca/v-cars-trucks/chatham-ke...
1011,Toyota RAV4 2015,19500.0,2015.0,Other,NaN,NaN,"170,000",K2A1C4,2022-06-24,https://www.kijiji.ca/v-cars-trucks/ottawa/toy...
1024,Toyota RAV4,8000.0,2012.0,Other,Other,NaN,"104,697",K4A 4H9,2022-06-19,https://www.kijiji.ca/v-cars-trucks/ottawa/toy...
1025,Toyota rav 4,35000.0,2019.0,Grey,NaN,NaN,"89,000",L6Z3V6,2022-06-19,https://www.kijiji.ca/v-cars-trucks/mississaug...
1029,2010 Toyota Rav 4,18800.0,2010.0,White,NaN,NaN,"98,000",Canada,2022-06-12,https://www.kijiji.ca/v-cars-trucks/mississaug...
1032,Toyoya Rav 4 Sports,10300.0,2012.0,Grey,4 x 4,NaN,"275,000",ON L4X,2022-06-06,https://www.kijiji.ca/v-cars-trucks/mississaug...
1036,*NEW* 2022 Rav4 Prime XSE AWD Hybrid with Tech...,74000.0,2022.0,Grey,NaN,NaN,100,L8P4E8,2022-06-04,https://www.kijiji.ca/v-cars-trucks/hamilton/n...

In [38]:
#we can see the ads 1036 is a hybrid car, so change this one to Hybrid and the other to Gasoline
kijiji_df.loc[1036, 'fuel'] = "Hybrid-Electric"

In [40]:
kijiji_df.loc[kijiji_df['fuel'].isna(), 'fuel'] = "Gasoline"

In [41]:
kijiji_df.isna().sum()

title           0
price           0
year            0
colour          0
drivetrain     29
fuel            0
kilometers      0
postal_code     0
date_posted     0
url             0
dtype: int64

In [42]:
#cheking missing values in 'drivettrain"
kijiji_df[kijiji_df['drivetrain'].isna()]

,title,price,year,colour,drivetrain,fuel,kilometers,postal_code,date_posted,url
5,2018 Toyota RAV 4 LE,30999.0,2018.0,Black,NaN,Gasoline,"76,824","P3N, CA",2022-07-27,https://www.kijiji.ca/v-cars-trucks/sudbury/20...
42,2016 Toyota RAV 4 XLE,21000.0,2016.0,White,NaN,Gasoline,"145,000","L6G, CA",2022-07-26,https://www.kijiji.ca/v-cars-trucks/markham-yo...
99,Toyata RAV 4 2006 model,6500.0,2006.0,Blue,NaN,Gasoline,272,Canada,2022-07-26,https://www.kijiji.ca/v-cars-trucks/city-of-to...
149,"2019 RAV 4 XLE - private sale - 44,000 kms",36900.0,2019.0,Burgundy,NaN,Gasoline,"44,000",L0R1Y0,2022-07-25,https://www.kijiji.ca/v-cars-trucks/st-cathari...
203,Toyota RAV4 2008 model Car for sale in good co...,7500.0,2008.0,Other,NaN,Gasoline,"241,344",L7C4G5,2022-07-25,https://www.kijiji.ca/v-cars-trucks/mississaug...
207,2007 Toyota RAV4 (Great Condition),9000.0,2007.0,Silver,NaN,Gasoline,"170,000",ON L3Y,2022-07-24,https://www.kijiji.ca/v-cars-trucks/markham-yo...
210,TOYOTA RAV4,12000.0,2009.0,Other,NaN,Gasoline,"169,000",M9B 4V5,2022-07-24,https://www.kijiji.ca/v-cars-trucks/city-of-to...
218,2001 RAV4 AWD Limited,4900.0,2001.0,Silver,NaN,Gasoline,"319,473",L9T6W6,2022-07-24,https://www.kijiji.ca/v-cars-trucks/oakville-h...
287,2022 Toyota RAV 4 LE AWD,42500.0,2022.0,Black,NaN,Gasoline,"4,500","N6G, CA",2022-07-24,https://www.kijiji.ca/v-cars-trucks/london/202...
290,2012 Toyota Rav4 Limited,13500.0,2012.0,Other,NaN,Gasoline,"211,000",L6K 2C7,2022-07-24,https://www.kijiji.ca/v-cars-trucks/oakville-h...
492,2010 Toyota RAV 4WD,8500.0,2010.0,Silver,NaN,Gasoline,"200,000","M2H, CA",2022-07-22,https://www.kijiji.ca/v-cars-trucks/city-of-to...
511,2020 rav4 hybrid xle low km,47500.0,2020.0,Other,NaN,Gasoline,"37,000",K2M0A3,2022-07-21,https://www.kijiji.ca/v-cars-trucks/ottawa/202...
516,2004 Toyota RAV 4,4200.0,2004.0,Silver,NaN,Gasoline,"193,989","N2P, CA",2022-07-21,https://www.kijiji.ca/v-cars-trucks/kitchener-...
593,2016 Toyota RAV 4 LE,18450.0,2016.0,Red,NaN,Gasoline,"148,000","L3T, CA",2022-07-20,https://www.kijiji.ca/v-cars-trucks/city-of-to...
667,2013 Toyota RAV 4 LE,16500.0,2013.0,Black,NaN,Gasoline,"201,403","M9V, CA",2022-07-20,https://www.kijiji.ca/v-cars-trucks/mississaug...
673,2012 Toyota RAV 4 Base low milage for sale - D...,13500.0,2012.0,Blue,NaN,Gasoline,"103,100","M4Y, CA",2022-07-19,https://www.kijiji.ca/v-cars-trucks/city-of-to...
689,Toyota rav 4,6000.0,2006.0,Other,NaN,Gasoline,"26,000",Canada,2022-07-19,https://www.kijiji.ca/v-cars-trucks/mississaug...
700,2013 Toyota RAV 4 Limited! New Brakes All Arou...,16999.0,2013.0,Black,NaN,Gasoline,"176,826","N6C, CA",2022-07-18,https://www.kijiji.ca/v-cars-trucks/london/201...
727,"2016 Toyota RAV4 SE LIMITED nav, moonroof, Lea...",24999.0,2016.0,Other,NaN,Gasoline,"90,000",ON L6Y,2022-07-17,https://www.kijiji.ca/v-cars-trucks/mississaug...
789,2008 Toyota RAV 4 Limited,9500.0,2008.0,Grey,NaN,Gasoline,"206,000","L6A, CA",2022-07-13,https://www.kijiji.ca/v-cars-trucks/markham-yo...
888,2009 Rav 4 awd limited,9800.0,2009.0,Other,NaN,Gasoline,"210,000",L6W3W6,2022-07-08,https://www.kijiji.ca/v-cars-trucks/mississaug...
898,2008 Toyota RAV 4 Basic,9000.0,2008.0,Black,NaN,Gasoline,"270,000","M1W, CA",2022-07-08,https://www.kijiji.ca/v-cars-trucks/city-of-to...
910,Toyota Rav4 2010 for Sale,10000.0,2010.0,Silver,NaN,Gasoline,"245,000","ugh, ON",2022-07-07,https://www.kijiji.ca/v-cars-trucks/city-of-to...
922,RAV4 2021,37999.0,2021.0,Other,NaN,Gasoline,"27,300",K1V0G7,2022-07-06,https://www.kijiji.ca/v-cars-trucks/ottawa/rav...
1007,2003 Toyota RAV 4,3900.0,2003.0,Silver,NaN,Gasoline,"247,000","M9R, CA",2022-06-27,https://www.kijiji.ca/v-cars-trucks/mississaug...
1011,Toyota RAV4 2015,19500.0,2015.0,Other,NaN,Gasoline,"170,000",K2A1C4,2022-06-24,https://www.kijiji.ca/v-cars-trucks/ottawa/toy...
1025,Toyota rav 4,35000.0,2019.0,Grey,NaN,Gasoline,"89,000",L6Z3V6,2022-06-19,https://www.kijiji.ca/v-cars-trucks/mississaug...
1029,2010 Toyota Rav 4,18800.0,2010.0,White,NaN,Gasoline,"98,000",Canada,2022-06-12,https://www.kijiji.ca/v-cars-trucks/mississaug...
1036,*NEW* 2022 Rav4 Prime XSE AWD Hybrid with Tech...,74000.0,2022.0,Grey,NaN,Hybrid-Electric,100,L8P4E8,2022-06-04,https://www.kijiji.ca/v-cars-trucks/hamilton/n...

In [43]:
#we can see the ads 492 is a 4x4, so change this one to Hybrid and the other to "All-wheel drive (AWD)"
kijiji_df.loc[492, 'drivetrain'] = "4 x 4"

In [44]:
kijiji_df.loc[kijiji_df['drivetrain'].isna(), 'drivetrain'] = "All-wheel drive (AWD)"

In [45]:
kijiji_df.isna().sum()

title          0
price          0
year           0
colour         0
drivetrain     0
fuel           0
kilometers     0
postal_code    0
date_posted    0
url            0
dtype: int64

In [46]:
#No more missing values, lets checking data types
kijiji_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 653 entries, 0 to 1039
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        653 non-null    object
 1   price        653 non-null    float64
 2   year         653 non-null    float64
 3   colour       653 non-null    object
 4   drivetrain   653 non-null    object
 5   fuel         653 non-null    object
 6   kilometers   653 non-null    object
 7   postal_code  653 non-null    object
 8   date_posted  653 non-null    object
 9   url          653 non-null    object
dtypes: float64(2), object(8)
memory usage: 72.3+ KB

In [47]:
#clean the column 'kilometers'
#remove ',' and change the type from object to float
kijiji_df['kilometers'] = kijiji_df['kilometers'].str.replace(',', '')
kijiji_df['kilometers'] = kijiji_df['kilometers'].astype(float)

In [48]:
#change the type of 'date_posted
kijiji_df['date_posted'] = pd.to_datetime(kijiji_df['date_posted'], format='%Y-%m-%d')

In [49]:
#looking for outliers at price
price_count = kijiji_df['price'].value_counts()
price_count.sort_index().head(10)

1.0       1
2500.0    1
3900.0    2
4000.0    1
4200.0    1
4500.0    2
4900.0    1
5000.0    1
5499.0    1
6000.0    3
Name: price, dtype: int64

In [50]:
price_count.sort_index(ascending=False).head(10)

74995.0    1
74216.0    1
74000.0    1
73995.0    1
71998.0    1
71995.0    1
71858.0    1
70777.0    1
66900.0    1
60000.0    1
Name: price, dtype: int64

In [51]:
kijiji_df[kijiji_df['price'] < 3000]

,title,price,year,colour,drivetrain,fuel,kilometers,postal_code,date_posted,url
387,2002 Toyota Rav 4 AWD Base,2500.0,2002.0,Silver,4 x 4,Gasoline,173000.0,L5R 3L6,2022-07-22,https://www.kijiji.ca/v-cars-trucks/mississaug...
821,2022 Rav4 XLE Premium Package AWD,1.0,2022.0,Grey,All-wheel drive (AWD),Gasoline,50.0,Canada,2022-07-12,https://www.kijiji.ca/v-cars-trucks/city-of-to...

In [58]:
kijiji_df.loc[kijiji_df['price'] == 1, 'price'] = np.nan
kijiji_df = kijiji_df.dropna(subset=['price'])

,title,price,year,colour,drivetrain,fuel,kilometers,postal_code,date_posted,url
320,2017 Toyota RAV4 AWD | PLATINUM | MOCHA LEATH...,29963.0,2017.0,White,All-wheel drive (AWD),Other,108250.0,N2G 2N7,2022-06-11,https://www.kijiji.ca/v-cars-trucks/kitchener-...
322,"2020 Toyota RAV4 LE One Owner, Toyota Serviced",36850.0,2020.0,Grey,All-wheel drive (AWD),Gasoline,43937.0,N5X 0N7,2022-06-18,https://www.kijiji.ca/v-cars-trucks/london/202...
323,"2019 Toyota RAV4 XLE No Accidents, Toyota Serv...",36850.0,2019.0,Black,All-wheel drive (AWD),Gasoline,75050.0,N5X 0N7,2022-07-09,https://www.kijiji.ca/v-cars-trucks/london/201...
324,2021 Toyota RAV4 XLE,44888.0,2021.0,Grey,All-wheel drive (AWD),Gasoline,1000.0,K7M 4Y3,2022-03-26,https://www.kijiji.ca/v-cars-trucks/kingston-o...
325,2018 Toyota RAV4 XLE,32995.0,2018.0,Silver,All-wheel drive (AWD),Gasoline,47876.0,K7M 4Y3,2022-03-19,https://www.kijiji.ca/v-cars-trucks/kingston-o...
...,...,...,...,...,...,...,...,...,...,...
1032,Toyoya Rav 4 Sports,10300.0,2012.0,Grey,4 x 4,Gasoline,275000.0,ON L4X,2022-06-06,https://www.kijiji.ca/v-cars-trucks/mississaug...
1033,2017 Toyota RAV4 “Platinum” - ONE OWNER - low ...,35500.0,2017.0,White,All-wheel drive (AWD),Gasoline,48000.0,K1T0P5,2022-06-05,https://www.kijiji.ca/v-cars-trucks/ottawa/201...
1035,2011 RAV 4 - 7 SEATER AWD,10000.0,2011.0,White,All-wheel drive (AWD),Gasoline,175000.0,P0M 3C0,2022-06-05,https://www.kijiji.ca/v-cars-trucks/sudbury/20...
1036,*NEW* 2022 Rav4 Prime XSE AWD Hybrid with Tech...,74000.0,2022.0,Grey,All-wheel drive (AWD),Hybrid-Electric,100.0,L8P4E8,2022-06-04,https://www.kijiji.ca/v-cars-trucks/hamilton/n...
1039,RARE Limited 2009 4WD Toyota RAV4 Very Economi...,17999.0,2009.0,Red,4 x 4,Gasoline,230000.0,ON K6A,2022-06-02,https://www.kijiji.ca/v-cars-trucks/ottawa/rar...

In [59]:
#cheking postal code
kijiji_df['postal_code'].value_counts()

 M8Z5S8    18
 Canada    18
N1H 6J4    15
L7A 1A9    14
K2G 1E3    13
           ..
J8M 1G5     1
 ON M3J     1
K7M 7H8     1
M1C 1K7     1
 ON K6A     1
Name: postal_code, Length: 316, dtype: int64

In [60]:
#some postal code are not correct, lets fix it
#removing spaces
kijiji_df['postal_code'] = kijiji_df['postal_code'].str.replace(' ', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [63]:
#checking postal code less than 6 chacteres 
kijiji_df[kijiji_df['postal_code'].str.len() < 6]

,title,price,year,colour,drivetrain,fuel,kilometers,postal_code,date_posted,url
58,2007 Toyota RAV4 AWD 4 cylinder automatic - lo...,11500.0,2007.0,Silver,All-wheel drive (AWD),Gasoline,140000.0,ONL8V,2022-07-26,https://www.kijiji.ca/v-cars-trucks/hamilton/2...
125,Toyota Rav 4 2015,22000.0,2015.0,White,All-wheel drive (AWD),Gasoline,145000.0,ONL6E,2022-07-25,https://www.kijiji.ca/v-cars-trucks/markham-yo...
207,2007 Toyota RAV4 (Great Condition),9000.0,2007.0,Silver,All-wheel drive (AWD),Gasoline,170000.0,ONL3Y,2022-07-24,https://www.kijiji.ca/v-cars-trucks/markham-yo...
425,2021 toyota rav-4,37499.0,2021.0,Silver,All-wheel drive (AWD),Gasoline,4600.0,ONM3J,2022-07-22,https://www.kijiji.ca/v-cars-trucks/markham-yo...
577,2009 Rav 4 sports,8600.0,2009.0,Burgundy,All-wheel drive (AWD),Gasoline,265000.0,ONL9K,2022-07-21,https://www.kijiji.ca/v-cars-trucks/hamilton/2...
668,2018 Toyota RAV4 LE FWD,29900.0,2018.0,White,Front-wheel drive (FWD),Gasoline,63405.0,ONM9C,2022-07-19,https://www.kijiji.ca/v-cars-trucks/mississaug...
727,"2016 Toyota RAV4 SE LIMITED nav, moonroof, Lea...",24999.0,2016.0,Other,All-wheel drive (AWD),Gasoline,90000.0,ONL6Y,2022-07-17,https://www.kijiji.ca/v-cars-trucks/mississaug...
810,"2019 - Toyota Rav4 44,000km",35000.0,2019.0,White,All-wheel drive (AWD),Gasoline,44000.0,ONM6A,2022-07-13,https://www.kijiji.ca/v-cars-trucks/city-of-to...
1009,2020 Toyota RAV 4 XLE,37500.0,2020.0,Grey,All-wheel drive (AWD),Gasoline,78632.0,ONM1S,2022-06-26,https://www.kijiji.ca/v-cars-trucks/city-of-to...
1030,2000 Toyota RAV 4 Great on Gas 4 cylinder,4000.0,2000.0,Green,All-wheel drive (AWD),Gasoline,254000.0,ONL5C,2022-06-11,https://www.kijiji.ca/v-cars-trucks/mississaug...
1032,Toyoya Rav 4 Sports,10300.0,2012.0,Grey,4 x 4,Gasoline,275000.0,ONL4X,2022-06-06,https://www.kijiji.ca/v-cars-trucks/mississaug...
1039,RARE Limited 2009 4WD Toyota RAV4 Very Economi...,17999.0,2009.0,Red,4 x 4,Gasoline,230000.0,ONK6A,2022-06-02,https://www.kijiji.ca/v-cars-trucks/ottawa/rar...